@font-face {
  font-family: a;
  src: url(./Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: a;
  /* background-image: linear-gradient(90deg, #9f060661, #0000006f); */
  background-image:linear-gradient(90deg, #e38866, #523e14)
}

.noticeboard {
  font-size: 1vw;
  text-align: center;
  margin: 0 auto;
  width: 400px;
}
.noticeboard h1 {
  margin-bottom: 5vw;
  /* background-color: red; */
  text-transform: capitalize;
  padding: 1vw;
  mix-blend-mode: difference;
  border-radius: 10px;
}

.main {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.area {
  width: 400px;
  text-align: center;
  font-size: 19px;
  border: 1px solid pink;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  cursor: copy;
}

button {
  padding: 0.4rem 2rem;
  border-radius: 20px;
  border: none;
  margin: 10px;
}
