@font-face {
  font-family: a;
  src: url(./Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: a;
  /* background-image: linear-gradient(90deg, #9f060661, #0000006f); */
  background-image: linear-gradient(90deg, #e38866, #523e14);
}

.noticeboard {
  margin-bottom: 3vw;
  text-transform: capitalize;
  opacity: 0;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.area {
  width: 400px;
  text-align: center;
  font-size: 19px;
  border: 1px solid pink;
  border-radius: 10px;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: linear 0.3s;
}

.area:hover {
  background-color: rgba(0, 0, 0, 0.103);
}

button {
  padding: 0.6rem 2rem;
  border-radius: 20px;
  border: none;
  margin: 10px;
  font-size: 1rem;
  color: white;
  transition: 0.2s linear;
}

button:hover {
  box-shadow:inset 2px 1px 2px 1px gray;
}

#btn1 {
  background-color: #6746b2;
}

#btn2 {
  background-color: #25f2db;
}

#btn3{
  background-image: linear-gradient( to right, #25f2db, #6746b2 );
}
